# SPDX-FileCopyrightText: 2024, Antón Gómez López
#
# SPDX-License-Identifier: GPL-3.0-or-later

# Ignore datasets and results of training and evaluation
results
models
graphics
*logs*
test*
*.csv
*.txt
*.jpg

*pycache*
*.vscode
*_venv

# Ignore auxiliary scripts
1_runScript.sh

# Ignore not public hyperdatasets
data/OITAVEN
data/EIRAS
data/ERMIDAS
data/FERREIRAS
data/MERA
data/XESTA
data/MESTAS
data/ULLA

# Files exceed maximum size that git can handle
data/PAVIA/